body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ck-editor__editable {
  min-height: 150px;
}

.ck-editor__editable * {
  font-family: "Nunito";
  line-height: 1.7;
}

button.MuiButtonBase-root.MuiPickersToolbarButton-toolbarBtn {
  margin: 0;
  padding: "0 !important";
}

.typed-cursor {
  position: relative;
  top: -2px;
}